<div class="likes-container">
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper"
      data-theme="custom"
      data-btn_size="36"
      data-icon_size="18"
      data-icon_l_url="thmb3-u"
      data-icon_d_url="thmb3-d"
      data-icon_d_c_v="#337ab7"
      data-bg_c="inherit"
      data-bg_c_v="inherit"
      data-brdr_c="#337ab7"
      data-f_family="Palatino"
      data-lang="zh_CN"
      data-ef_voting="buzz"
      data-identifier="likeAndDislike-{{ page.postID }}"
      data-show_dislike_label="true"
      data-counter_clickable="true"
      data-counter_frmt="km"
      data-counter_count="true"
      data-loader_show="true"></span>

<script>
(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
</div>